<%-include ("base") %>
<!-- 階層に関して、特になし -->
<!-- id,calssに関して、特になし -->
<!-- 表示データの追加・変更に関して、要相談 -->
<h1>カゴページ</h1>
<!-- データが無ければ空文を表示 -->
<% if (data_col == 0) {%>
    <h2>かごに入ってる商品はありません。</h2>
<% }else{ %>
    <!-- データの数だけfor文を回す -->
    <% total = 0 %>
    <div class="cart_content">
        <% for (i = 0; i<data_col; i++) {%>
                <ul class="cart_data">
                    <li>商品名：<%- data[i].product_name %></li>
                    <li>数量：<%- data[i].quantity %>点</li>
                    <li>値段：<%- data[i].quantity * data[i].fee %>円</li>
                </ul>
                <% total += data[i].quantity * data[i].fee %>
        <% } %>
        <p>合計：<%- total %>円</p>
    </div>

<% } %>

<%-include ("footer") %>
