<%-include ("base") %>
<h1>商品ページ</h1>
<div id="product_ctrl">
    <a href="/Shelf/prev"><%- prev ? "＜戻る" : "" %></a>
    <a href="/Shelf/next"><%- next ? "次へ＞" : "" %></a>
</div>
<!-- 商品一覧 -->
<div id="product_block">
    <% for (i = productNo; i < productNo + 30; i++) {%>
        <div class="product">
            <a href="Shelf/<%- rows[i] ? rows[i].product_id : "" %>">
                <%- rows[i] ? rows[i].product_name : "" %>
            </a>
        </div>
    <% }; %>
</div>
<!-- 商品modal -->
<% if (modal){ %>
    <% for (i = 0; i < len; i++) {%>
        <% if(rows[i].product_id == modal) {%>
            <div id="puroduct_modal_wrap">
                <div id="puroduct_modal">
                    <a href="/Shelf/prev">閉じる</a>
                    <li>商品名：<%- rows[i].product_name %></li>
                    <li>値段：<%- rows[i].fee %></li>
                    <li>在庫：<%- rows[i].stock %></li>
                    <li>企業：<%- rows[i].manufacturer %></li>
                    <li>重量：<%- rows[i].weight %></li>
                    <li>内容物：<%- rows[i].content %></li>
                    <li>アレルゲン：<%- rows[i].allergens ? rows[i].allergens : "なし" %></li>
                    <form action="/Shelf/Cart" method="post">
                        <input type="hidden" name="p_id" value="<%- rows[i].product_id %>">
                        <li>数量：<input type="number" name="quantity" value="1"></li>
                        <input type="submit" value="カゴへ入れる">
                    </form>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>
<!-- カゴを表示 -->
<li><a href="/Cart">買い物カゴ</a>：実装済み</li>
<li><a href="/delete_cart">カートテーブル全削除</a></li>
<a href="/">TOPページ</a>
<%-include ("footer") %>
