<%-include ("base") %>
<h1>商品ページ</h1>
<div id="product_ctrl">
    <a href="/Shelf/prev"><%- prev ? "＜戻る" : "" %></a>
    <a href="/Shelf/next"><%- next ? "次へ＞" : "" %></a>
</div>
<style>
    .tCC {
        width: 40%; 
        height: 80%;
        margin: 5% 0;
        display: flex;
        justify-content: flex-start;
        align-items: center;

        border-radius: 20px;
        overflow: hidden;
        background: #000000;
        
    }
    canvas {
        width: 100%;
        height: 100%;
        display: block; 
    }
</style>
<!-- 商品一覧 -->
<div id="product_block">
    <% for (i = productNo; i < productNo + 30; i++) {%>
        <div class="product">
            <a href="Shelf/<%- rows[i] ? rows[i].product_id : "" %>" class = "link" id = "<%-rows[i].product_id%>" >
                <img class="product_img" src="image/products/p_<%- i + 1 %>.png" alt="<%- rows[i] ? rows[i].product_name : "" %>">
            </a>
        </div>
    <% }; %>
</div>
<!-- 商品modal -->
<% if (modal){ %>
    <% for (i = 0; i < len; i++) {%>
        <% if(rows[i].product_id == modal) {%>
            <div class="product_modal_wrap" id="<%- rows[i].product_id %>">
                <div id="product_modal">
                    <a href="/Shelf/prev"><i class="fa-regular fa-circle-xmark"></i></a>

                    <div class="tCC" id="tCC-<%- rows[i].product_id %>"></div>
                    
                    <div class="modal_info">

                        <li>商品名：<%- rows[i].product_name %></li>
                        <li>値段：<%- rows[i].fee %></li>
                        <li>在庫：<%- rows[i].stock %></li>
                        <li>企業：<%- rows[i].manufacturer %></li>
                        <li>重量：<%- rows[i].weight %></li>
                        <li>内容物：<%- rows[i].content %></li>
                        <li>アレルゲン：<%- rows[i].allergens ? rows[i].allergens : "なし" %></li>
                        <form action="/Shelf/Cart" method="post">
                            <input type="hidden" name="p_id" value="<%- rows[i].product_id %>">
                            <div class="modal_li_input">
                                <li>数量：<input type="number" name="quantity" value="1" class="quantity"></li>
                                <input type="submit" value="カゴへ入れる" id="add_cart">
                            </div>
                        </form>

                    </div>
                </div>
            </div>
        <% } %>
    <% } %>
<% } %>
<!-- カゴを表示 -->
<li><a href="/Cart">買い物カゴ</a>：実装済み</li>
<!-- <li><a href="/delete_cart">カートテーブル全削除</a></li> -->
<a href="/">TOPページ</a>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/build/three.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.141.0/examples/js/loaders/GLTFLoader.js"></script>
<script src="https://cdn.jsdelivr.net/npm/three@0.128/examples/js/controls/OrbitControls.js"></script>
<script src="/js/glb2.js"></script>
<%-include ("footer") %>
